<header *ngIf="isDisplay()">
  <a class="title-logo" routerLink="/home" routerLinkActive="active">ALLERGY LOG</a>
  <button class="header-menu-button" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu #menu="mdMenu">
    <div class="menu-login" *ngIf="isLogin()">
      <button md-menu-item [routerLink]="userId">
        <md-icon>account_circle</md-icon>
        <span>公開ページを見る</span>
      </button>
      <button md-menu-item routerLink="/user/setting">
        <md-icon>settings</md-icon>
        <span>設定変更する</span>
      </button>
      <button md-menu-item (click)="logout()">
        <md-icon>input</md-icon>
        <span>ログアウト</span>
      </button>
    </div>
    <div class="menu-logout" *ngIf="!isLogin()">
      <button md-menu-item routerLink="/auth/signup">
        <span>会員登録</span>
      </button>
      <button md-menu-item routerLink="/auth/login">
        <span>ログイン</span>
      </button>
    </div>
  </md-menu>
</header>
