<header>
  <button *ngIf="!isDisplay()" class="header-back-button" mat-icon-button (click)="onClickBack()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <a class="title-logo" routerLink="/" routerLinkActive="active">ALLERGY LOG</a>
  <button *ngIf="(isAdmin() | async).admin" class="header-menu-button" mat-icon-button [matMenuTriggerFor]="adminmeu">
    <mat-icon style="color: red">settings</mat-icon>
  </button>
  <button class="header-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #adminmeu="matMenu">
    <button mat-menu-item routerLink="/admin/users">
      <span>ユーザー一覧</span>
    </button>
  </mat-menu>

  <mat-menu #menu="matMenu">
    <div class="menu-login" *ngIf="isLogin()">
      <button mat-menu-item (click)="getMyProfile()">
        <mat-icon>account_circle</mat-icon>
        <span>公開ページを見る</span>
      </button>
      <button mat-menu-item routerLink="/user/setting">
        <mat-icon>settings</mat-icon>
        <span>設定変更する</span>
      </button>
      <button mat-menu-item routerLink="/contact">
        <mat-icon>contact_mail</mat-icon>
        <span>お問い合わせ</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>input</mat-icon>
        <span>ログアウト</span>
      </button>
    </div>
    <div class="menu-logout" *ngIf="!isLogin()">
      <button mat-menu-item routerLink="/auth/signup">
        <span>会員登録</span>
      </button>
      <button mat-menu-item routerLink="/auth/login">
        <span>ログイン</span>
      </button>
      <button mat-menu-item routerLink="/contact">
        <mat-icon>contact_mail</mat-icon>
        <span>お問い合わせ</span>
      </button>
    </div>
  </mat-menu>
</header>
