<div class="home jumbotron">
  <h1>Welcome to <%= Constants::SITE_TITLE %></h1>

  <h2>
    This is the Allergy SNS for All Persons Concerned with Allergy.
  </h2>

  <%= image_tag("inquiry-300x300.png", alt: "inquiry") %>
  <%= link_to "Sign up now!", signup_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" %>
</div>

<%= render 'layouts/footer' %>