<tr>
  <td class="mdl-data-table__cell--non-numeric"><%= link_to ige.test_date, ige %></td>
  <td class="mdl-data-table__cell--non-numeric"><%= get_category_name(ige.test_category) %></td>
  <td><%= ige.ige_value %> <%= get_unit_name(ige.ige_unit) %></td>
</tr>