<% provide(:title, '検査修正') %>
<% provide(:url, ige_path) %>
<% provide(:method, :patch) %>
<% provide(:button_text, '修正する') %>
<h1>IgE検査結果の修正</h1>

<%= render 'ige_form', ige: @ige %>

<%= button_to 'ホームへ戻る', root_path, method: :get, class: "btn" %>
