<% provide(:title, 'IgE一覧') %>
<h1>歴史</h1>

<ul class="iges">
  <% if @iges.any? %>
    <%= line_chart @chart_data %>
    <%= render @iges %>
  <% else %>
    まだ記録がありません
  <% end %>
</ul>

<%= will_paginate(:previous_label => '<<', :next_label => '>>') %>

<%= button_to 'ホームへ戻る', root_path, method: :get, class: "btn" %>