<% provide(:title, '検査入力') %>
<% provide(:url, iges_path) %>
<% provide(:button_text, '記録する') %>
<h1>IgE検査結果の入力</h1>

<%= render 'ige_form' %>

<%= button_to 'ホームへ戻る', root_path, method: :get, class: "btn" %>

