<% provide(:title, '引用登録') %>
<% provide(:url, iges_path) %>
<% provide(:method, :create) %>
<% provide(:button_text, '引用登録する') %>
<h1>IgE検査の引用登録</h1>

<%= render 'ige_form', ige: @ige %>

<%= button_to 'ホームへ戻る', root_path, method: :get, class: "btn" %>
