@-webkit-keyframes Flash {
    50% {
        // FIXME: iOSでbox-shadowが効かない
        // box-shadow: 0 1px 15px 0 rgb(255, 165, 0);
        // border-radius: 1px;
        background-color:rgb(214, 211, 208);   
    }
}

#container-chat {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;

    #header-chat {
        position: fixed;
        z-index: 999;
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
    }
    
    #contents-chat {
        padding: 5px;
        // padding-top: 46px; // =chat.header.height
        padding-bottom: 50px; // =chat.footer.height
        // height: auto; →directiveで端末サイズから計算する
    }
    
    #footer-chat {
        position: fixed;
        z-index: 9999;
        transform: translate3d(0, 0, 0);
        background-color: #fff;
        bottom: 0;
        width: 100%;
        height: 50px;
        padding-bottom: 5px;
        text-align: center;
        .footer-chat-item {
            top: 20%;
            position: relative;
        }
        .footer-chat-replyText {
            cursor: pointer;
            height: 30px;
            width: 70%;
            font-size: 1em;
            border: 1px solid #eaeaea;
            padding: 0 6px;
        }
        .footer-chat-replyButton {
            width: 60px;
            min-width: 60px;
            margin-left: 5px;
            background-color: #005d93;
        }
        .is-active {        
            -webkit-animation: Flash 2s infinite;
        }
    }
}

.history-scrollbox {
    overflow: scroll;

    .chats {
        width: 100%;
        border-spacing: 0 40px;
        &-divider {
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: #d0d0d0;
            text-align: center;
            height: 1.5em;
            &:before {
                content: '';
                background: #e0e0e0;
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 1px;
            }
        }
        &-divider-date:after {
            content: attr(data-content);
            position: relative;
            display: inline-block;
            color: #000;
            padding: 0.5em;
            line-height: 1.5em;
            font-size: small;
            background-color: #f0f0f0;
        }
        &-divider-offer:after {
            content: attr(data-content);
            position: relative;
            display: inline-block;
            color: #000;
            padding: 0 0.5em;
            line-height: 1.5em;
            font-size: small;
            background-color: #fff;
        }

        // チャットアバター列
        .chat-column-avatar {
            width: 15%;
            .chat-avatar {
                font-size: 0;
                width: 45px;
                height: 45px;
                border: 1px solid #eaeaea;
                border-radius: 50%;
            }
        }


        // チャット時間列
        .chat-column-time {
            width: 10%;
            .chat-created, .chat-read {
                color: rgba(0, 0, 0, 0.54);
                font-size: small;
            }
        }

        // チャット本文列     
        .myself {
            .chat-body {
                color: #fff;
                background-color: #2196F3;
                width: 80%;
                min-height: 50px;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                padding: 8px;
                border-radius: 10px;
                position:relative;
                box-sizing: border-box;
                &:after {
                    border:10px solid transparent;
                    border-left-color: #2196F3;
                    border-right-width:0;
                    right:-10px;
                    content:"";
                    display:block;
                    top:15px;
                    position:absolute;
                    width:0;
                }
            }
        }
        .opponent {
            .chat-body {
                background-color: white;
                width: 80%;
                min-height: 50px;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                padding: 8px;
                border-radius: 10px;
                position:relative;
                box-sizing: border-box;
                &:after {
                    border:10px solid transparent;
                    border-right-color:#fff;
                    border-left-width:0;
                    left:-10px;
                    content:"";
                    display:block;
                    top:15px;
                    position:absolute;
                    width:0;
                }
            }
        }

        #video {
            display: block;
            width: 50%;
        }

        #canvas {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .history-unread {
        font-size: small;
        color: #fff;
        background-color: rgba(255,0,0,0.2); 
        border-radius: 20px;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        text-align: center;
        md-icon {
            vertical-align: middle;
        }
    }
    .history-loading {
        margin: auto;
        height: 50px;
        width: 50px;
    }
}