<div id="container-chat" [@wholeanimation]="animeState">
  
  <div id="header-chat">
  </div>

  <div id="contents-chat">
    <div #scrollMove class="history-scrollbox" [style.height.px]="height">
      <div ><mat-spinner class="history-loading" *ngIf="loadingChatBack$ | async"></mat-spinner></div>
    
      <table class="chats">
    
        <tbody *ngFor="let chat of (chats$ | async); let idx = index;">
          
          <!-- 年月日 -->
          <tr *ngIf="isDisplayDate(idx)"><td colspan="3"><hr class="chat-divider chat-divider-date" [attr.data-content]="chat.createdAt | formatToJapaneseDate"></td></tr>
    
          <!-- me -->
          <tr class="myself" *ngIf="chat && isMyself(chat)">
            <td class="chat-column-time">
              <div class="chat-read" *ngIf="isRead(chat)">既読</div>
              <div class="chat-created">{{chat.createdAt | date:'HH:mm'}}</div>
            </td>
            <td class="chat-column-body"><div class="chat-body" [innerHtml]="chat.body"></div></td>
            <td class="chat-column-avatar"><img class="chat-avatar" [src]="myself.avatarUrl" /></td>
          </tr>
    
          <!-- opponent -->
          <tr class="opponent" *ngIf="chat && isOpponents(chat)">
            <td class="chat-column-avatar"><img class="chat-avatar" [src]="getImgSrc(chat)" /></td>
            <td class="chat-column-body"><div class="chat-body" [innerHtml]="chat.body"></div></td>
            <td class="chat-column-time">
              <div class="chat-created">{{chat.createdAt | date:'HH:mm'}}</div>
            </td>
          </tr>

          <!-- YesNo -->
          <tr [ngClass]="chat.senderId === myself.id ? 'myself' : 'opponent'" *ngIf="chat && isYesNo(chat)">
            <td class="chat-column-avatar"><img class="chat-avatar" [src]="getImgSrc(chat)" /></td>
            <td class="chat-column-body">
              <div *ngIf="chat.body" class="chat-body mb15" [innerHtml]="chat.body"></div>
              <button mat-raised-button color="primary" (click)="onClickYes()">はい</button>
              <button mat-raised-button (click)="onClickNo()">いいえ</button>
            </td>
            <td class="chat-column-time">
              <div class="chat-created">{{chat.createdAt | date:'HH:mm'}}</div>
            </td>
          </tr>

          <!-- checkbox -->
          <tr [ngClass]="chat.senderId === myself.id ? 'myself' : 'opponent'" *ngIf="chat && isCheckbox(chat)">
            <td class="chat-column-avatar"><img class="chat-avatar" [src]="getImgSrc(chat)" /></td>
            <td class="chat-column-body">
              <div *ngIf="chat.body" class="chat-body mb15" [innerHtml]="chat.body"></div>
              <mat-checkbox *ngFor="let item of chat.itemList"
                [(ngModel)]="item.checked"
                (change)="onChangeChecked(item)"
                [disabled]="chat.expired"
              >{{item.name}}</mat-checkbox>
            </td>
            <td class="chat-column-time">
              <div class="chat-created">{{chat.createdAt | date:'HH:mm'}}</div>
            </td>
          </tr>

          <!-- radiobutton -->
          <tr [ngClass]="chat.senderId === myself.id ? 'myself' : 'opponent'" *ngIf="chat && isRadiobutton(chat)">
            <td class="chat-column-avatar"><img class="chat-avatar" [src]="getImgSrc(chat)" /></td>
            <td class="chat-column-body">
              <div *ngIf="chat.body" class="chat-body mb15" [innerHtml]="chat.body"></div>
              <mat-radio-group class="chat-radio-group" [(ngModel)]="chat.result">
                <mat-radio-button *ngFor="let item of chat.itemList"
                  [value]="item.id"
                  (change)="onChangeRadio(item)"
                  [disabled]="chat.expired"
                >{{item.name}}</mat-radio-button>
              </mat-radio-group>
            </td>
            <td class="chat-column-time">
              <div class="chat-created">{{chat.createdAt | date:'HH:mm'}}</div>
            </td>
          </tr>

          <!-- camera -->
          <tr [ngClass]="chat.senderId === myself.id ? 'myself' : 'opponent'" *ngIf="chat && isCamera(chat)">
            <td class="chat-column-camera" colspan="3">
              <canvas id="canvas" #canvas style="display: none"></canvas>
              <video id="video" #video autoplay playsinline></video>
            </td>
          </tr>
    
        </tbody>
    
      </table>
    
      <div class="history-unread" *ngIf="isUnread()" (click)="getUnreadChat()">
        <mat-icon>expand_more</mat-icon>
        <span>未読があります</span>
      </div>
      <div class="history-loading" *ngIf="loadingChatForward$ | async"><mat-spinner></mat-spinner></div>
    
    </div>
  </div>

  <div id="footer-chat" [ngStyle]="showReplyText ? {'background-color': '#fff'} : {'background-color': '#f0f0f0'}" >
    <input id="replyText" type="text" #replyText
      (click)="setFocus($event)"
      (keypress)="onKeyPress($event)"
      placeholder="メッセージを入力"
      class="footer-chat-item footer-chat-replyText"
      [class.is-active]="isActive"
      [hidden]="!showReplyText"
    />
    <button mat-raised-button color="primary" class="footer-chat-item footer-chat-replyButton"
      (click)="onClickReply(replyText.value); replyText.value=''"
      [hidden]="!showReplyText"
    >送信</button>
  </div>

  <audio id="soundsignup">
    <source src="assets/sounds/signup.mp3" type="audio/mp3">
  </audio>

</div>