.profile {
  background-color: #fff;
  height: 100%;
  aside {
    padding-top: 42px; // header.height

    .possession-allergen {
      display: inline-block;
      img {
        width: 48px;
        height: 48px;
      }
    }
  }
  #followings, #followers {
    color: #000;
    text-decoration: none;
  }
  .followings-disabled, .followers-disabled {
    pointer-events: none;
    cursor: default;
  }
}