<div class="profile">
<aside>
  <section class="user_info">

    <mat-grid-list cols="4">
      
      <img class="profile-avatar" [src]="(profile$ | async).avatarUrl" />
      <div class="matl-cell matl-cell--3-col">
        <h1 class="user-name">
          {{(profile$ | async).name}}
        </h1>
        <div class="user-honor">
          <span class="matl-chip"><span class="matl-chip__text">{{(profile$ | async).rank}}</span></span>
          <span class="matl-chip"><span class="matl-chip__text">{{(profile$ | async).titleOfHonor}}</span></span>
        </div>
      </div>

    <p class="user-igevalue">総IgE
      <span>{{(profile$ | async).latestIge}}</span>
    </p>

    <div
      *ngFor="let allergen of (profile$ | async).positiveAllergenGroups"
      class="possession-allergen"
      (click)="onClickSearch(allergen)"
    >
      <img [src]="'assets/images/' + allergen + '.png'"/>
    </div>

    <p class="user-introduction">{{(profile$ | async).selfIntroduction}}</p>

    <div class="stats">
      <a id="followings" [routerLink]="getFollowingsLink()" routerLinkActive="active" [ngClass]="(profile$ | async).followings === 0 ? 'followings-disabled' : ''">
        <strong class="stat">
          {{(profile$ | async).followings}}
        </strong>
        フォロー中
      </a>
      <a id="followers" [routerLink]="getFollowersLink()" routerLinkActive="active" [ngClass]="(profile$ | async).followers === 0 ? 'followers-disabled' : ''">
        <strong class="stat">
          {{(profile$ | async).followers}}
        </strong>
        フォロワー
      </a>
    </div>

    <button type="button" mat-raised-button color="primary" *ngIf="!isMyself && !(profile$ | async).isFollow" (click)="onClickFollow()">フォローする</button>
    <button type="button" mat-raised-button color="primary" *ngIf="!isMyself && (profile$ | async).isFollow" (click)="onClickUnfollow()">フォローを外す</button>

    <button *ngIf="!isMyself" mat-icon-button color="primary" (click)="forwardChat()" class="global-menu-item">
      <mat-icon>chat</mat-icon>
    </button>
    
    </mat-grid-list>

  </section>
</aside>
</div>
