<div id="global-menu" *ngIf="isDisplay()">
  <a routerLink="/" routerLinkActive="active" class="global-menu-item">
    <md-icon>home</md-icon>
  </a>
  <a routerLink="/" routerLinkActive="active"  class="global-menu-item">
    <md-icon>watch_later</md-icon>
  </a>
  <a routerLink="/chat/list" routerLinkActive="active"  class="global-menu-item">
    <md-icon>chat</md-icon>
  </a>
  <a routerLink="/search" routerLinkActive="active"  class="global-menu-item">
    <md-icon>group</md-icon>
  </a>
</div>