<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"><%= gravatar_for user %></div>
  <div class="mdl-cell mdl-cell--3-col">
    <h1 class="user-name">
      <%= @user.name %>
    </h1>
    <div class="user-honor">
      <span class="mdl-chip"><span class="mdl-chip__text"><%= get_rank_name(user.rank) %></span></span>
      <span class="mdl-chip"><span class="mdl-chip__text"><%= get_title_of_honor(user.title_of_honor) %></span></span>
    </div>
  </div>
</div>