<%= form_for(user, url: search_result_by_name_users_path, html: { method: :post, class: 'form-inline search-name', role: 'form' }) do |f| %>
  <div class="search-name mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.search_field :name, id: 'search-name', class: 'mdl-textfield__input' %>
    <label class="mdl-textfield__label" for="search-name">ユーザーネームを入力してください</label>
  </div>
  <!-- ボタン -->
  <%= button_tag type: "submit", data: { disable_with: '探し中...' }, class: "mdl-button mdl-js-button mdl-button--icon" do %>
    <i class="material-icons">search</i>
  <% end %>
<% end %>