<% provide(:title, '名前検索') %>
<h1>名前で探す</h1>

<%= form_for(@user, url: search_result_by_name_path, html: { method: :post, class: 'form-inline search-name', role: 'form' }) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control', placeholder: '探したいユーザーネームを入力してください' %>
      </div>
    </div>
    <!-- ボタン -->
    <div class="col-md-2">
    <%= f.submit '探す', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>