<% possession_allergen.attributes.each do |column| %>
  <% allergen_sort_name = column[0].match(/(allergen_sort_.+)/) %>
  <% if allergen_sort_name && column[1] %>
    <% if Rails.application.assets.find_asset("#{column[0]}") %>
      <%= link_to image_tag("#{column[0]}.png", alt: "#{column[0]}", :size => "32x32"), search_result_by_allergen_path(:search_key => column[0]) %>
    <% else %>
      <p><%= link_to "#{IgesHelper::ALLERGEN_SORT[allergen_sort_name.to_s]}の絵に差し替える", search_result_by_allergen_path(:search_key => column[0]) %></p>
    <% end %>
  <% end %>
<% end %>