body, html {
  // background-color: #F1F8E9; PWA監査によりbodyタグに設定する
  margin: 0px; // brower default 8pxをオフにする
  height: 100%;
}

#main {
  padding: 42px 10px 50px 10px; // 42 = header.height 50 = footer.height

  @media screen and (min-width: 1280px) {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
  }

  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

h1 {
  margin-top: 0;
}