body, html {
  background-color: #F1F8E9;
  margin: 0;
  height: 100%;
}

#main {
  padding: 42px 10px 50px 10px; // 42 = header.height 50 = footer.height

  @media screen and (min-width: 1280px) {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  margin-top: 0;
}