<section id="log-header">
  <mat-form-field class="form-date">
    <input matInput type="date" [(ngModel)]="dailyLogParam.date" />
  </mat-form-field>
  <div class="log-detail-button">
    <button type="button" mat-raised-button color="primary" *ngIf="displayMode === MODE.CREATE" (click)="onClickCreate()">記録する</button>
    <button type="button" mat-raised-button color="primary" *ngIf="displayMode === MODE.EDIT" (click)="onClickUpdate()">変更する</button>
    <button type="button" mat-raised-button *ngIf="displayMode === MODE.ROM" (click)="onClickEdit()">編集する</button>
  </div>
</section>

<section id="log-content">

  <mat-card *ngIf="isMultipleSymptom">
    <mat-card-content>
      <mat-radio-group id="symptom" [(ngModel)]="dailyLogParam.symptom" [disabled]="displayMode === MODE.ROM">
        <mat-radio-button *ngIf="user.atopic" value="atopic">{{SymptomName.get('atopic')}}</mat-radio-button>
        <mat-radio-button *ngIf="user.asthma" value="asthma">{{SymptomName.get('asthma')}}</mat-radio-button>
        <mat-radio-button *ngIf="user.rhinitis" value="rhinitis">{{SymptomName.get('rhinitis')}}</mat-radio-button>
        <mat-radio-button *ngIf="user.pollen" value="pollen">{{SymptomName.get('pollen')}}</mat-radio-button>
        <mat-radio-button *ngIf="user.gastroenteritis" value="gastroenteritis">{{SymptomName.get('gastroenteritis')}}</mat-radio-button>
        <mat-radio-button *ngIf="user.conjunctivitis" value="conjunctivitis">{{SymptomName.get('conjunctivitis')}}</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>face</mat-icon>今日の気分は？</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-button-toggle-group id="health" [(ngModel)]="dailyLogParam.health" [disabled]="displayMode === MODE.ROM">
        <mat-button-toggle value="1">😄</mat-button-toggle>
        <mat-button-toggle value="2">☺️</mat-button-toggle>
        <mat-button-toggle value="3">😥</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field class="form-memo">
        <textarea matInput matTextareaAutosize placeholder="メモ" [(ngModel)]="dailyLogParam.healthMemo" [readonly]="displayMode === MODE.ROM"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>local_pharmacy</mat-icon>薬は服用した？</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group id="medicina" [(ngModel)]="dailyLogParam.medicina" [disabled]="displayMode === MODE.ROM">
        <mat-radio-button [value]="true">OK！</mat-radio-button>
        <mat-radio-button [value]="false">忘れた</mat-radio-button>
      </mat-radio-group>
      <mat-form-field class="form-memo">
        <textarea matInput matTextareaAutosize placeholder="メモ" [(ngModel)]="dailyLogParam.medicinaMemo" [readonly]="displayMode === MODE.ROM"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  
  <mat-card>
    <mat-card-header>
      <mat-card-title><mat-icon>photo_camera</mat-icon>写真の記録</mat-card-title>
      <div class="form-photograph-upload">
        <div class="form-photograph-upload-button" (click)="file.click()">
          <input type="file" accept="image/*" #file (change)="onChangeFile(file)" [style.display]="'none'" />
          <mat-icon *ngIf="displayMode !== MODE.ROM">photo_library</mat-icon>
        </div>
        <button type="button" mat-raised-button (click)="onClickCamera()" *ngIf="displayMode !== MODE.ROM" disabled>
          <mat-icon>add_a_photo</mat-icon>(工事中)
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <app-image-upload *ngIf="uploadOpen" [imgSrc]="inputFiles" (imageUploaded)="getImage($event)"></app-image-upload>
      <div class="form-photograph-image" *ngFor="let photo of dailyLogParam.photograph">
        <mat-icon *ngIf="!(displayMode === MODE.ROM)" (click)="onClickPhotoDel(photo)">cancel</mat-icon>
        <img class="photo" [src]="photo">
      </div>
      <mat-form-field class="form-memo">
        <textarea matInput matTextareaAutosize placeholder="メモ" [(ngModel)]="dailyLogParam.photographMemo" [readonly]="displayMode === MODE.ROM"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

</section>
