mat-card {
  margin-bottom: 10px;
  padding-top: 24px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 10px;
}

#log-header {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  .form-date {
    width: 40%;
  }
  #submit {
    margin-left: auto;
  }  
}

#log-content {
  
  .form-memo {
    width: 100%;
    margin-top: 15px;
  }

  #health {
    mat-button-toggle {
      font-size: 3.5em;
    }
  }

  #medicina {
  }

  .form-photograph {
    &-upload {
      margin-left: auto;
      margin-bottom: 10px;
      &-button {
        display: inline-block;
      }
    }

    &-image {
      text-align: right;
      .photo {
        width: 100%;
        height: auto;
        border: 1px solid #eaeaea;
      }
    }
  }
}