<section id="home-header">
  <div class="home-notification">
    <img src="assets/images/beginner.png" width="20" *ngIf="beginners.length > 0" [matMenuTriggerFor]="beginner"/>
    <span [attr.data-badge-notification]="(notifications$ | async).length" [matMenuTriggerFor]="notification">
      <mat-icon>notifications</mat-icon>
    </span>
  </div>

  <mat-menu #notification="matMenu">
    <a mat-menu-item *ngFor="let notification of (notifications$ | async)"
      routerLinkActive="active"
      (click)="onClickNotification(notification)"
    >
      <img [src]="notification.avatarUrl" />
      <span>{{notification.description}}</span>
    </a>
    <span *ngIf="(notifications$ | async).length === 0" class="home-notification-message">通知がありません</span>
  </mat-menu>

  <mat-menu #beginner="matMenu">
    <a mat-menu-item *ngFor="let beginner of beginners"
      routerLinkActive="active"
      (click)="onClickBeginner(beginner)"
    >
      <span [matTooltip]="beginner.description">{{beginner.description}}</span>
    </a>
  </mat-menu>
</section>

<section id="home-content">
  <mat-table [dataSource]="myExperienceDataSource">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date | date:'MM/dd HH:mm'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.activity}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="myDisplayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: myDisplayColumns;"></mat-row>
  </mat-table>

  <label *ngIf="friendExperienceDataSource.rowCount > 0">友達の活動</label>

  <mat-table [dataSource]="friendExperienceDataSource">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date | date:'MM/dd HH:mm'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.activity}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="friendDisplayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: friendDisplayColumns;"></mat-row>
  </mat-table>
</section>