#home-content {
  height: 0;
  padding-top: 72%; // 表示画像の高さ ÷ 表示画像の幅 × 100
  background: url("/assets/images/home_bg.png") 0 0 no-repeat;
  background-size: contain;
}

.mat-header-row {
  display: none;
}

.mat-column-date {
  max-width: 100px;
}
