<section id="home-content">
  <mat-table [dataSource]="experienceDataSource">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>日時</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef>活動</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.activity}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="experienceColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: experienceColumns;"></mat-row>
  </mat-table>

  <label>友達の活動</label>

  <mat-table [dataSource]="experienceDataSource">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>誰</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="activity">
      <mat-header-cell *matHeaderCellDef>活動</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.activity}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="experienceColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: experienceColumns;"></mat-row>
  </mat-table>
</section>