<md-form-field class="example-full-width">
  <input mdInput placeholder="eメール" [(ngModel)]="email" (change)="onChangeEmail()" [class.input-error]="isErrorEmail">
  <span class="textfield-error" *ngIf="isErrorEmail">入力内容を見直してください</span>
</md-form-field>
<md-form-field class="example-full-width">
  <input mdInput placeholder="パスワード" [(ngModel)]="password" (change)="onChangePassword()" [class.input-error]="isErrorPassword">
  <span class="textfield-error" *ngIf="isErrorPassword">入力内容を見直してください</span>
</md-form-field>
<div class="button-row">
  <button md-raised-button color="primary" (click)="login()">ログイン</button>
</div>
