<div class="top-content">
  <h1>
    Welcome to AllergyLog!!
  </h1>
  <div class="eye-catch">
    <img width="300" src="assets/images/top.png">
  </div>
</div>

<button (click)="sighup()">登録</button>
<button (click)="login()">ログイン</button>
<a routerLink="/auth/signup" routerLinkActive="active"><span>登録（デバッグ）</span></a>
<a routerLink="/chat/list" routerLinkActive="active"><span>チャット</span></a>
<a routerLink="/user/1" routerLinkActive="active"><span>プロフィール</span></a>

<label>{{JSON.stringify(accountResponse$ | async)}}</label>
