#setting-content {
  margin-top: 20px;

  .setting-input {
    display: block;
  }

  .setting-input-name, .setting-input-email, .setting-input-password {
    width: 50%;
  }
  
  mat-checkbox {
    margin-right: auto;
  }
  
  .setting-button {
    margin-top: 20px;
    text-align: center;
  }
}
