#results-container {
  padding-top: 10px;
}

.user-avatar {
  font-size: 0;
  width: 45px;
  height: 45px;
  border: 1px solid #eaeaea;
  border-radius: 50%;
}

.discription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: auto;
  .user-name {
    padding-bottom: 8px;
  }
  .possession-allergen {
    display: flex;
    flex-direction: row wrap;
    img {
      width: 2em;
      height: 2em;
    }
  }
}