#results-container {
  padding-top: 10px;
  padding-bottom: 50px;
}

.discription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: auto;
  .user-name {
    padding-bottom: 8px;
  }
  .possession-allergen {
    display: flex;
    flex-direction: row wrap;
    img {
      width: 2em;
      height: 2em;
    }
  }
}