<h3>チャットリスト</h3>

<mat-card *ngFor="let chatThread of (chatList$ | async).reverse()" (click)="onClick(chatThread)">
  <mat-grid-list cols="4">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <img class="avatar" [src]="getImgSrc(chatThread)" />
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <div class="description">
        <span>{{chatThread.updatedAt | roundOffDate}}</span>
        <span *ngIf="chatThread.newestChat">{{chatThread.newestChat.body | shortenText:20}}</span>
        <span *ngIf="!chatThread.newestChat">まだ会話はありません</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<div *ngIf="!(loading$ | async) && (chatList$ | async).length === 0">まだチャットを開始している友達はいません。</div>