<div id="container-chats">
  
  <div id="header-chats">
    <input type="search" placeholder="メッセージ、ワード検索" (change)="handleClickSearch()" />
  </div>

  <div id="contents-chats" [style.height.px]="">
    <div #scrollMove class="history-scrollbox" [style.height.px]="height">
      <div ><md-spinner class="history-loading" *ngIf="loadingChatBack$ | async"></md-spinner></div>
    
      <table class="history-chat">
    
        <tbody *ngFor="let chat of (chatList$ | async).chats; let idx = index;">
          
          <!-- 年月日 -->
          <tr *ngIf="isDisplayDate(idx)"><td colspan="3"><hr class="history-chat-divider history-chat-divider-date" [attr.data-content]="chat.created | formatToJapaneseDate"></td></tr>
    
          <!-- me -->
          <tr [ngClass]="chat.userType === 1 ? 'applicant' : 'agent'" *ngIf="chat.userType === 1">
            <td class="history-chat-column-time">
              <div class="history-chat-read" *ngIf="chat.created <= chatList.agentReadUntil">既読</div>
              <div class="history-chat-created">{{chat.created | date:'HH:mm'}}</div>
            </td>
            <td class="history-chat-column-body"><div class="history-chat-body">{{chat.body}}</div></td>
            <td class="history-chat-column-avatar"><img class="history-chat-avatar history-chat-avatar__applicant" [src]="(applicant$ | async).imgURL" /></td>
          </tr>
    
          <!-- opponent -->
          <tr [ngClass]="chat.userType === 1 ? 'applicant' : 'agent'" *ngIf="chat.userType === 2">
            <td class="history-chat-column-avatar"><img class="history-chat-avatar history-chat-avatar__agent" [src]="(agent$ | async).imgURL" /></td>
            <td class="history-chat-column-body">
              <div class="history-chat-body" *ngIf="chat.body.length > 0">{{chat.body}}</div>
            </td>
            <td class="history-chat-column-time">
              <div class="history-chat-created">{{chat.created | date:'HH:mm'}}</div>
            </td>
          </tr>
    
        </tbody>
    
      </table>
    
      <div class="history-unread" *ngIf="isUnread()" (click)="getUnreadChat()">
        <md-icon>expand_more</md-icon>
        <span>未読があります</span>
      </div>
      <div class="history-loading" *ngIf="loadingChatForward$ | async"><md-spinner></md-spinner></div>
    
    </div>
  </div>

  <div id="footer-chats" *ngIf="true">
    <input #replyText placeholder="メッセージを入力" class="footer-chats-item footer-chats-replyText" />
    <button md-raised-button color="primary" class="footer-chats-item footer-chats-replyButton" (click)="handleClickReply(replyText.value); replyText.value=''">送信</button>
  </div>

</div>