<h1><%= @user.name %>様</h1>

<p>パスワードをリセットするために次のリンクをクリックしてください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>なお、このリンクは２時間で有効期限が切れます。</p>

<p>
もしパスワード再設定を行なっていないなら、このメールは無視して、サポートにご連絡ください。
<br/>
support@allergy.blue
</p>